stanford-corenlp-full-2018-10-05/
.idea/
__pycache__/
venv/
dat/
chromedriver.exe

browser_extension/build/
browser_extension/dev/
browser_extension/node_modules/
browser_extension/package-lock.json

chrome_extension/build/
chrome_extension/dev/git rm . -r --cached
chrome_extension/node_modules/
chrome_extension/package-lock.json
